In [1]:
import pandas as pd

import Clean_data as cld
import Transform_Data as tfd
import Visualize_Data as vld

# Dataset:  Job Titles By Major

I'm going to manually categorize all of these majors to give them an opportunity to be useful for analysis.

In [2]:
merge = cld.get_degree_counts()

In [3]:
transformed_merge =  tfd.get_degree_count(merge)

C:\Users\joshf\Documents\Jupyter_Notebooks\WGUProjects\Capstone\Transform_Data.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals['title'] = 'total'

In [4]:
transformed_merge

                    major                       title   count
0            3d modelling                   3d artist    18.0
1            3d modelling                  3d modeler     4.0
2            3d modelling                   architect     9.0
3            3d modelling           creative director    10.0
4            3d modelling                    designer     5.0
...                   ...                         ...     ...
2886  welding engineering                       total  8345.0
2887  welding engineering                      welder   564.0
2888  welding engineering            welding engineer  1090.0
2889  welding engineering     welding engineer intern   150.0
2890  welding engineering  welding engineering intern    91.0

[2891 rows x 3 columns]

In [5]:
transformed_merge_totals = transformed_merge[transformed_merge['title'] == 'total']

In [6]:
transformed_merge_values = transformed_merge[transformed_merge['title'] != 'total']

In [7]:
transformed_merge_totals = transformed_merge_totals[['major', 'count']]

In [9]:
merge_cat = merge[['major','category']]

In [10]:
df_totals = merge_cat.merge(transformed_merge_totals, left_on= 'major',right_on= 'major')

In [11]:
df_totals.to_csv('Datasets/PeopleDataLabs/job_title_totals.csv')

In [12]:
df_values = merge_cat.merge(transformed_merge_values, left_on= 'major',right_on= 'major')

In [13]:
df_values.to_csv('Datasets/PeopleDataLabs/job_title_values.csv')

In [19]:
df_totals = df_totals.sort_values(by='count', ascending = False).reset_index(drop=True)

In [17]:
df_totals['category'].value_counts()

technology    108
science        67
admin          58
finance        34
Name: category, dtype: int64

The most common attributed category is technology.

In [22]:
df_totals['category'].head(15).value_counts()

admin         5
finance       5
technology    4
science       1
Name: category, dtype: int64

However out of the top 15, the narrative shifts, and admin/finance begin to take center field.