In [1]:
import pandas as pd

import Clean_data as cld
import Transform_Data as tfd
import Visualize_Data as vld

In [2]:
merged_zhvi_df =  cld.get_rent_df()

In [3]:
print(merged_zhvi_df['State'].unique())

['NY' 'CA' 'IL' 'TX' 'AZ' 'FL' 'WA' 'TN' 'MA' 'DC' 'GA' 'VA' 'CT' 'NH'
 'NJ' 'PA' 'NV' 'IN' 'NC' 'CO' 'OR' 'NE' 'SC' 'MN' 'RI' 'MO' 'AL' 'ID'
 'OH' 'KY' 'MD' 'NM' 'OK' 'HI' 'LA' 'AK' 'AR' 'KS' 'SD' 'MT' 'DE' 'WI'
 'IA' 'MI' 'ND' 'WV' 'UT' 'MS' 'WY' 'ME' 'VT']

Confirming that all 50 states + DC appear in my dataset

In [4]:
state_year_grouped_df = tfd.group_house_dfs(merged_zhvi_df) 
#Aggregate['State','Year','size']['value'] on: 'count', 'mean', 'median', 'std', 'min', 'max'

I discovered that over half my values were NA, so I've taken the extra step of cleaning out all NA values

In [5]:
state_year_grouped_df.shape

(416, 6)

I have two groups of data to focus on:
10,167 rows of ungrouped data, pertinent to individual locations.
582 rows of grouped data, reshaped with indexes for state, year and size.

I have opted to leave the 'all size' data out, as the granularity of room count adds a measure of cohesion to my findings in regards to cost and location.

# High End Cost of Living

Finding our most expensive locations (from 0 - a max value of (years*bedrooms = 12):

In [6]:
largest_min = tfd.return_nlargest_state_count(state_year_grouped_df,50, 'min') 
largest_max = tfd.return_nlargest_state_count(state_year_grouped_df,50, 'max') 
largest_mean = tfd.return_nlargest_state_count(state_year_grouped_df,50, 'mean') 
largest_med = tfd.return_nlargest_state_count(state_year_grouped_df,50, 'median') 
largest_std = tfd.return_nlargest_state_count(state_year_grouped_df,50, 'std')

In [7]:
count_expensive_dfs = [largest_min,largest_max,largest_mean,largest_std, largest_med]

In [8]:
e_merged_count_df = tfd.return_merged_count(count_expensive_dfs)

I then merge those 5 columns in order to get a score of 0-60, in doing so I also discovered that only 25 states made the top cut in any way. Because of this I will be performing an entirely separate low-end exploration later.

California is by far the most expensive place to live. Massachusetts and Florida are a big drop for 2nd and 3rd place.

Because of how difficult it seems to be to even make the list, I'll be using the top 5 results.

# Lowest Cost of Living

In [9]:
smallest_min = tfd.return_nsmallest_state_count(state_year_grouped_df,50, 'min') 
smallest_max = tfd.return_nsmallest_state_count(state_year_grouped_df,50, 'max') 
smallest_mean = tfd.return_nsmallest_state_count(state_year_grouped_df,50, 'mean') 
smallest_med = tfd.return_nsmallest_state_count(state_year_grouped_df,50, 'median') 
smallest_std = tfd.return_nsmallest_state_count(state_year_grouped_df,50, 'std')

In [10]:
count_cheapest_dfs = [smallest_min,smallest_max,smallest_mean,smallest_med, smallest_std]

In [11]:
c_merged_count_df = tfd.return_merged_count(count_cheapest_dfs)

In [12]:
c_largest = c_merged_count_df.sum(axis=1).nlargest(25)

In [13]:
c_largest = c_largest.reset_index()

In [14]:
c_largest.head(10)

  State     0
0    MO  17.0
1    MT  13.0
2    AR  11.0
3    KY  11.0
4    OK  11.0
5    OH  10.0
6    WV   9.0
7    NE   9.0
8    AL   8.0
9    KS   8.0

In [15]:
print(len(c_merged_count_df))

41

Much like before, I've gotten the count of occurance, by state, this time with the smallest values found. The spread is much more even. with 41 of the possible 51 regions appearing. I will likewise choose the top 5 values from this spread.

In [16]:
low_end_state_df = tfd.return_cheap_end(merged_zhvi_df)

# Mid-Tier Cost of Living

In [17]:
# merge = c_largest.merge(e_largest, left_on='State',right_on='State')

In [18]:
# merge.columns = ['State', 'Cheapest', 'Highest']

In [19]:
# merge

I've got 8 values that fall into both tables, I'll tream these as 'mid-tier' states

In [20]:
# mid_tier_state_df = tfd.return_mid_tier(merged_zhvi_df)

In [21]:
# mid_tier_state_df

After revisiting my prvious methods I've revisited, and  gone with a simpler tiering system

In [22]:
e_merged_count_df

       min   max  mean   std  median
State
CO     1.0   1.0   3.0   1.0     3.0
CT     1.0   4.0   2.0   3.0     1.0
HI     5.0   1.0   3.0   0.0     3.0
ID     1.0   0.0   0.0   0.0     0.0
MA     2.0   5.0   5.0   3.0     6.0
MN     1.0   0.0   0.0   0.0     1.0
NJ     1.0   3.0   2.0   5.0     1.0
NY     1.0   3.0   3.0   5.0     2.0
OR     1.0   0.0   1.0   0.0     1.0
RI     1.0   0.0   1.0   0.0     1.0
UT     1.0   0.0   0.0   0.0     0.0
VA     1.0   4.0   1.0   3.0     1.0
CA     0.0  10.0   5.0  11.0     5.0
FL     0.0   7.0   1.0   8.0     2.0
GA     0.0   1.0   0.0   0.0     0.0
MD     0.0   1.0   0.0   0.0     0.0
SC     0.0   1.0   1.0   1.0     0.0
TX     0.0   1.0   0.0   0.0     0.0
WA     0.0   1.0   2.0   2.0     2.0
AZ     0.0   0.0   0.0   1.0     0.0
IL     0.0   0.0   0.0   2.0     0.0
IN     0.0   0.0   0.0   1.0     0.0
MI     0.0   0.0   0.0   1.0     1.0
TN     0.0   0.0   0.0   2.0     0.0
WI     0.0   0.0   0.0   1.0     0.0

In [33]:

merged_zhvi_df =  cld.get_rent_df()
tiered_df = merged_zhvi_df.groupby(['State'])['value'].agg(['mean']).sort_values('mean').reset_index()

In [35]:
tiered_df.to_csv('Tiered_State_Rental_Prices.csv')